html, body{
	background-image: url(../images/triangular.png);	
	background-repeat: repeat;
  font-family: 'Raleway', sans-serif;

}
/*navbar color settings*/
.navbar-default {
  background-color: #646473;
  border-color: #9797a6;
  font-family: 'Share', cursive;

}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #9797a6;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #9797a6;
}
.navbar-default .navbar-toggle {
  border-color: #9797a6;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #9797a6;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #9797a6;
  }
}
.navbar .navbar-header>.navbar-brand{
	background: gray;
  margin-left: 100px;
  font-size: 40px;
  color: black;
  font-family: 'Press Start 2P', cursive;
  padding: 23px 0 42px 10px;

}
.navbar{
  border-bottom: 4px solid black;
}
/*panel styles*/
#img-me{
	width: 300px;
	margin:10px 20px 10px 0;
}
.panel-style{
	background-color: lightgray;
	color: black;
  margin-bottom: 100px;
}
.foot-style{
	background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    border-top: 5px solid gray;
}
hr{
	border-color: black;
}
.portfolio-panel{
	margin-bottom: 100px;
}
.contact h2{
	text-align: center;
}
.about-text{
  font-size: 20px;
}
/*portfolio style*/
.thumbnail-row{
	margin-bottom: 20px;
}
.thumbnail-row img{
	padding: 0;
}
.thumbnail-banner{
  position: absolute;
  width: 90.5%;
	top: 200px;
	background-color: gray;
	z-index: 500;
	text-align: center;
}
.thumbnail-text{
  margin-top: -60px;
}
a{
  color: black;
  text-decoration: none;
}
.img-center img{
/*  height: 85px;*/
}
.small-text{
  font-size: 30px;
}
h1{
  font-family: 'VT323', monospace;
}
.navbar-nav>li>a{
  font-size: 20px;
  padding: 22px;
}
/*animation main logo*/
#logo{
  animation-name: main-logo;
  animation-duration: 2.5s;
  -webkit-animation-name: main-logo;
  -webkit-animation-duration: 2.5s;
}
@keyframes main-logo {
  from{ margin-left: -315px; }
  to{ margin-left: 100px; }
}
/*portfolio title animation*/
#type{
  width: 140px;
  overflow: hidden;
  animation:type 3s steps(10);
/*  border-right: 5px solid black;*/
}

@keyframes type{
  from{width: 0;}
  to{width: 145px;}
}